@font-face {
  font-family: 'kanit';
  src: url('kanit-bold.woff2') format('woff2'),
  url('kanit-bold.woff') format('woff');
}

.title-main {
  display: flex;
  padding-top: 100px;
  padding-left: 50px;
  justify-content: space-between;
  margin-right: 80px;
  margin-left: 30px;
}

.title-booking {
  color: white;
  font-family: 'kanit', sans-serif;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: white;
}

.container-booking {
  width: 100vw;
  height: 100vh;
  align-items: center;
  }

.card-booking{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
margin: 50px 50px;
}

.card-description-booking {
  display: flex;
  flex-direction: column;
}

.description-booking {
  display: flex;
  color: white;
  margin: 20px;
  font-family: 'kanit', sans-serif;
  border: solid;
  padding: 20px;
  border-radius: 10px;

  h2 {
    margin: 0;
  }
}

.img-bookings {
  border-radius: 10px;
  width: 500px;
}

.booking-image-show {
  border-radius: 10px;
}

.button-show-booking {
  color: orange;
  background-color: transparent;
  border: solid;
  text-transform: capitalize;
  font-size: large;
}
