.container-form {
  font-family: 'kanit', sans-serif;
  padding: 80px 400px 0;
  color: white;
  background: transparent(.5);
}

.vehicle-form {
  background-image: url('falcon.png');
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100vh;
}
