@font-face {
  font-family: 'kanit';
  src: url('kanit-bold.woff2') format('woff2'),
  url('kanit-bold.woff') format('woff');
}

.form-booking-vehicle {
  color: white;
  font-size: x-large;
  border-radius: 8px;
  background-color: rgba(200, 200, 200, .4);
  padding: 10px;
  backdrop-filter: blur(4px);
}

.banner-show {
  height: 100vh;
  background-size: cover;
  background-position: inherit;
  mask: linear-gradient(to top, transparent, black 100%);
}

.card-bottom-div {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  bottom: 0;
  margin-bottom: 30px;
}

.card-details {
  margin: 100px 80px 0 100px;

  h2 {
    font-family: 'kanit', sans-serif;
    color: white;
  }

  p {
    font-family: 'kanit', sans-serif;
    color: white;
  }
}
