.grid-index-start {
  padding: 80px 20px 0 20px;
  background-color: rgba(10, 10, 10, 0.9);
  text-decoration: none;
}

.card-vehicle-infos {
  background-color: rgba(99, 92, 92, 0.4)
}

.background-set {
  background-color: rgba(10, 10, 10, 0.9);
  height: 100vh;
}
