.grid-index-start {
  padding: 40px 30px 80px;
  text-decoration: none;
}

.card-vehicle-infos {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.darker-span {
  opacity: .5;
  border: solid white 2px;
  transition: .3s;

  &:hover {
    opacity: .8;
    transition: .3s;
  }

  img {
    border-bottom: solid white 2px;
  }
}

.map {
  padding-top: 100px !important;
  height: 100vh !important;
  width: 100% !important;
}
