<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c4.wallpaperflare.com/wallpaper/574/634/491/back-to-the-future-movie-back-to-the-future-delorean-illustration-wallpaper-preview.jpg);">
  <div class="banner-informations">
    <div>
      <h1><span>Air Nerd Vehicle</span></h1>
      <h1><span>Rent Best Vehicles</span></h1>
      <h1><span>From Best Movies</span></h1>
    </div>
    <%= link_to vehicles_path do %>
      <div class="cards">
        <div class="card-seen" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.vroomly.com/media/images/Batmobile.width-500.webp)">
          <h2>Discover Vehicles</h2>
        </div>
        <div class="card-hide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMoPueAdLHa-is9xfePf-jCjeXIr_jD8nl7w&usqp=CAU)">
          <h2>Discover Vehicles</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
