<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/736x/62/b7/47/62b74710c3f1b9547e20fd2fb3a9522a--bttf-delorean-delorean-dmc-.jpg);">
  <div class="container">
    <h1>Air Nerd Vehicle ! </h1>
    <p>Trouves le véhicule de tes rêves provenant de ton film préféré</p>
    <a class="btn btn-flat btn-primary" href="#">Select now</a>
  </div>
</div>
