.mapboxgl-popup {
  max-width: 120px;
  border-radius: 50px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'kanit', sans-serif;
  background-color: rgba(16, 15, 15, 0.8);
  backdrop-filter: blur(6px);
  color: white;

  a {
    text-decoration: none;
    color: #b1db18;
  }

  p {
    font-size: x-large;
  }
}
