.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  z-index: 1;
  width: 100%;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }
}

.nav-item {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.btn-opacity {
  font-family: 'kanit', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: solid 3px white;
  opacity: .8;
  backdrop-filter: blur(6px);
}

.search {
  background: transparent;
  border: solid white 3px;
  border-radius: 50px;
  color: white;
  font-family: 'kanit', sans-serif;
  font-weight: bold;
  text-align: center;
}

.btn-search {
  background: none;
  color: white;
  font-family: 'kanit', sans-serif;
  font-weight: bold;
  display: none;
}
