.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100%;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }
}

.nav-item {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}
